@import "../../global.scss";

.contact {
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 1;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h2 {
            font-size: 30px;
        }

        p {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .icons {
            display: flex;
            gap: 20px;
            align-items: center;
            cursor: pointer;
            opacity: 1;
            transition: 0.5s;
            a:link {
                color: black;
            }
            a:visited {
                color: black;
            }
            a:hover {
                opacity: 0.6;
                transition: opacity 0.25s ease-in-out;
            }
            a:active {
                color: black;
            }
            #email {
                font-size: 60px;
            }
            #linkedin {
                font-size: 55px;
            }
            #github {
                font-size: 45px;
            }
        }
    }
}
