// * material dark
$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac6;
$background: #121212;
$background-overlay: #1f1f1f;
$surface: #121212;
$error: #cf6679;
$black: #000000;
$white: #ffffff;
$bg-text: #5e5e5e;

// * media queries
$width: 768px;
@mixin mobile {
    @media (max-width: #{$width}) {
        @content;
    }
}
